.chatContainer {
    background-color: #e6eef2;
    width: 76%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatEditor {
    background-color: #d6e7f0;
    width: 95%;
    margin: 1rem auto;
    align-self: center;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #b7ddf2;
    position: relative;
    height: 6rem;
}

.messageInput {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.messageTools {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.sendMessage {
    cursor: pointer;
    right: 8px;
    bottom: 8px;
    position: absolute;
}

.chatTitle {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem;
    background-color: #7e9daf80;
}

.messageMainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.chatMessages {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
}

.messageContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.messageContentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.messageSenderName {
    color: #06334d;
    font-size: 14px;
    font-weight: 700;
}

.messageContent {
    font-size: 14px;
    font-weight: 400;
}

.messageTimestamp {
    font-weight: 400;
    color: #5691b2;
    font-size: 12px;
}
